body
{ 
background-color: #333300
}

h1
{
	text-align: center;
	}
	
#header
{
background-color: #666633;
width: 100%;
height: 60px;
}

#menupom
{
background-color: #999966;
float: left;
text-align: center;
width: 200px;
height: 250px;
}


#srodek
{
float:left;
background-image: url(foto/tygrys.jpg);
width: 680px;
height: 350px;
}